<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup">
      <section name="Stations" type="System.Configuration.NameValueSectionHandler" />
      <section name="Platforms" type="System.Configuration.NameValueSectionHandler" />
      <section name="LogFile" type="System.Configuration.NameValueSectionHandler" />
	</sectionGroup>
  </configSections>
  <applicationSettings>
    <LogFile>
      <add key="LogFileName" value="LogFile"/>
      <add key="LogFilePath" value="C:\Users\485781\Documents\Visual Studio 2015\Projects"/>
    </LogFile>
  </applicationSettings>
</configuration>